<!-- Onboarding Slides -->
<div *ngIf="!showQuiz && !showWalletCreation" class="slide-container">
  <h2>{{ onboarding[currentIndex].title }}</h2>

  <!-- If there is a video -->
  <ng-container *ngIf="onboarding[currentIndex].video; else showImage">
    <div class="video-container">
      <app-video [videoIframeString]="onboarding[currentIndex].video || ''"></app-video>
    </div>
    <p>{{ onboarding[currentIndex].text }}</p>
  </ng-container>

  <!-- If there is NO video -->
  <ng-template #showImage>
    <img [src]="onboarding[currentIndex].image" alt="Onboarding Image" class="onboarding-image"/>
    <p>{{ onboarding[currentIndex].text }}</p>
  </ng-template>

  <div class="navigation-wrapper">
    <mat-progress-bar *ngIf="onboarding[currentIndex].progress != null"
                      class="custom-progress-bar"
                      mode="determinate"
                      [value]="onboarding[currentIndex].progress">
    </mat-progress-bar>

    <div class="navigation-buttons">
      <button mat-stroked-button (click)="prev()" [disabled]="currentIndex === 0">
        Previous
      </button>
      <button mat-flat-button (click)="next()">
        {{ currentIndex === onboarding.length - 1 ? 'Start Quiz' : 'Next' }}
      </button>
    </div>
  </div>
</div>

<app-wallet-creation *ngIf="showWalletCreation" (walletCreated)="onWalletCreated()"></app-wallet-creation>


<!-- Quiz Component
<app-quiz *ngIf="showQuiz"></app-quiz>
 -->
